<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetitesAnnoncesLocales"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/register_form">

        </activity>

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="@string/signin_form">

        </activity>
        <activity
            android:name=".PostAdActivity"
            android:exported="true"
            android:label="@string/post_ad_form">
        </activity>

        <activity
            android:name=".AdManagerActivity"
            android:exported="true"
            android:label="@string/ads_manager">

        </activity>

        <activity
            android:name=".EditAdActivity"
            android:exported="true"
            android:label="@string/edit_ad">

        </activity>

        <activity
            android:name=".LikedAdsActivity"
            android:exported="true"
            android:label="@string/title_likedlist">

        </activity>
    </application>

</manifest>